<% if user_signed_in? %>
  <li>
    <%= link_to 'Edit User Information', edit_user_registration_path %>
  </li>
<% else %>
  <li>
    <%= link_to 'get started now!', new_user_registration_path %>
  </li>
  <li>
    <%= link_to 'get started now! (as a coach)', new_user_registration_path(coach: true) %>
  </li>
<% end %>
