<div class="container-fluid no-pad landing_two"></div>
<div id="profiles">
  <%= form_tag(search_coaches_path, method: "get", remote: true, id: 'search-form') do %>
    <%= label_tag(:zipcode) %>
    <%= text_field_tag(:zipcode) %>
    <%= submit_tag("Search") %>
  <% end %>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</div>
